.services {
    color: white;
    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        &__icon {
            height: 1.5rem;
            margin-right: 1rem;
        }
        &__content {
            font-size: 1.5rem;
        }
    }

    &__tasks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        justify-items: center;
        margin-top: 4rem;
    }

    &__task {
        &__icon {
            display: block;
            height: 3rem;
        }
        &__header {
            font-size: 1.5rem;
        }
        &__text {
            font-size: 1rem;
        }
    }
}