.help {
    text-align: center;
    &__header {
        font-size: 1.5rem;
    }
    &__temptation {
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &__icon {
            height: 2.5rem;
            margin-right: 1rem;
        }
        &__text {
            font-size: 1rem;
        }
    }
    &__button {
        cursor: pointer;
        outline: none;
        border: none;
        background-color: #FAC663;
        color: white;
        padding: 1rem;
        transition: all 1s;

        &:hover {
            transform: rotate3d(1, 1, 1, 360deg);
        }
    }
}