.avatar {
    display: block;
    clip-path: circle();
    margin: 0 auto;
    height: 15rem;
}

.circle {
    height: 2rem;
    width: 2rem;
    padding: .5rem;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 1rem;
}