.form {
    &__container {
        display: flex;
        justify-content: space-evenly;
    }

    &--left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
    }

    &--right {
        width: 30%;
    }

    &__group {
        display: flex;
        flex-direction: column;
    }

    &__label {
        color: white;
        font-family: inherit;
        font-weight: 300;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    &__input {
        background: inherit;
        outline: none;
        padding: .5rem;
        border: 1px solid transparent;
        border-bottom: .1rem solid white;
        transition: all .5s;
        font-family: inherit;
        font-size: 1rem;
        color: white;

        &:focus {
            border: .1rem solid white;
        }
    }

    &__button {
        cursor: pointer;
        display: block;
        outline: none;
        border: .2rem solid transparent;
        margin: 4rem auto;
        padding: 1rem 1.5rem;
        border-radius: .2rem;
        background-color: #FAC663;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        transition: all 1s;

        &:hover {
            background-color: white;
            color: #FAC663;
            border: .2rem solid #FAC663;
        }
    }
}