.showcase {
    background-color: white;
    width: 50%;
    margin: 0 auto;
    height: 10rem;
    transform: translateY(-2.75rem);
    border-radius: 1rem;

    &__header {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        margin-bottom: 1.5rem;
    }

    &__link {
        cursor: pointer;
        margin-left: 2.5rem;
        font-size: 1rem;
        font-weight: 500;

        &--active {
            color: #FAC663;
            padding-bottom: 1.25rem;
            border-bottom: .15rem solid #FAC663;
        }
    }

    &__projects {
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }

    &__image {
        max-width: 100%;
    }

    &__button-more {
        cursor: pointer;
        display: block;
        outline: none;
        border: .2rem solid transparent;
        margin: 1.5rem auto;
        padding: 1.25rem 1.75rem;
        border-radius: .2rem;
        background-color: #FAC663;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        transition: all 1s;

        &:hover {
            background-color: white;
            color: #FAC663;
            border: .2rem solid #FAC663;
        }
    }
}